.containerUserScreen{
  background: #FFFFFF;
  max-width: 438px;
  margin: 0px auto;
  position: relative;/*usa os dois o position e o top para dar uma distancia do topo*/
  top: 100px; /* Adiciona distância do topo */
  overflow: auto;
  min-height: 534px;
  padding: 30px;
  border-radius: 18px;
  }
  
body{
      height: 100%;
      background-color: #f2f2f2;
      font-family: 'Poppins', sans-serif;
      margin:0;
      padding:0;
    
  }

  .user-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Altura total da viewport para centralização vertical */
    padding-top:20px;
  }
/* Estilos do contêiner do usuário */
.containerUserScreen {
  background: #FFFFFF;
  max-width: 438px;
  margin: 0 auto; /* Centraliza horizontalmente */
  overflow: auto;
  min-height: 534px;
  padding: 30px;
  border-radius: 18px;
}
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 100px;
  }
  
  .profile-image {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }

  .userProps{
    width: 400px;
    height: 50px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border:0px;
    line-height: 50px; /* Define a mesma altura que o contêiner */
    
  }

  .topBar{
    margin: 0px auto;/*aparentemente deixa o elementos no centro margin 0 auto */
    height: 60px;
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }

  .btnUserScreen {
    display: inline-block;
    background: #02274F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    position:absolute; /* Define a posição absoluta para o botão */
    top: 0; /* Posiciona o botão no topo do contêiner pai */
    right: 0; /* Posiciona o botão à esquerda do contêiner pai */
    margin-top: 9px;
    margin-right:20px ;
  }
  
  .btn-blockUserScreen {
    display: block;
    width: 415px;
  }